<div>
    <ol>
    <button id = "addNewTodo" mat-raised-button (click)="openDialog()">Add A New Todo</button>
    </ol>
</div>


<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="todo-list-title">Todos</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field>
                    <input matInput id="todoOwner" #input type="search" placeholder="Search for owner" [(ngModel)]="todoOwner" />
                    <button mat-button id="ownerClearSearch" type="button" *ngIf="todoOwner" matSuffix mat-icon-button aria-label="clear" (click)="todoOwner='';loadService()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit</button>

                <mat-accordion *ngIf="todos; else todosError" >

                </mat-accordion>
                <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
                <ng-template #todosError>
                    <mat-error>
                        There was a problem loading the todos. Possibly the server is down or perhaps there are network
                        issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again or start the server.
                    </mat-error>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>
