<div>
    <ol>
    <button id = "addNewTodo" mat-raised-button (click)="openDialog()">Add A New Todo</button>
    </ol>
</div>


<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="todo-list-title">Todos</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form>
                    <label>Status: </label>
                    <mat-select name="dropdown" id="todoStatus" (click)="todoStatus = todoStatus">
                        <mat-option value="" (click)="todoStatus = null"></mat-option>
                        <mat-option value="false" (click)="todoStatus = false" >False</mat-option>
                        <mat-option value="true" (click)="todoStatus = true">True</mat-option>
                    </mat-select>
                </form>
                <mat-form-field>
                    <input matInput id="todoBody" #input type="text" placeholder="Filter by body" (input)="todoBody = $event.target.value">
                </mat-form-field>
                <mat-form-field>
                    <input matInput id="todoCategory" #input type="text" placeholder="Filter by category" (input)="todoCategory = $event.target.value">
                </mat-form-field>
                <mat-form-field>
                    <input matInput id="todoOwner" #input type="search" placeholder="Search for owner" [(ngModel)]="todoOwner" />
                    <button mat-button id="ownerClearSearch" type="button" *ngIf="todoOwner" matSuffix mat-icon-button aria-label="clear" (click)="todoOwner='';loadService()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit</button>

                <mat-accordion *ngIf="todos; else todosError" >
                    <mat-expansion-panel #elem class="todos" [id]="todo._id['$oid']" [expanded]="this.isHighlighted(todo)" *ngFor="let todo of this.filterTodos(todoCategory,todoBody, todoStatus) | slice:index:index+10; let i=index;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{todo.owner}}</mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-panel-description >ID: {{todo._id['$oid']}}</mat-panel-description>
                        <mat-panel-description >Category: {{todo.category}}</mat-panel-description>
                        <mat-panel-description >Body: {{todo.body}}</mat-panel-description>
                        <mat-panel-description >Status: {{todo.status}}</mat-panel-description>
                    </mat-expansion-panel>
                    <button mat-button id="first index" type="button" matSuffix mat-icon-button aria-label="clear" (click)="index=0;">
                        <mat-icon>first_page</mat-icon>
                    </button>
                    <button mat-button id="previous index" type="button" matSuffix mat-icon-button aria-label="clear" (click)="index=index-10;">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <button mat-button id="next index" type="button" matSuffix mat-icon-button aria-label="clear" (click)="index=index+10;">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <button mat-button id="last index" type="button" matSuffix mat-icon-button aria-label="clear" (click)="index=length;">
                        <mat-icon>last_page</mat-icon>
                    </button>
                </mat-accordion>
                <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
                <ng-template #todosError>
                    <mat-error>
                        There was a problem loading the todos. Possibly the server is down or perhaps there are network
                        issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again or start the server.
                    </mat-error>
                </ng-template>
            </mat-card-content>
            <section class="example-section">
                <mat-progress-bar>
                </mat-progress-bar>
            </section>
        </mat-card>
    </div>
</div>
